<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <section>
      <form action="/" method="post">
        <select name="activities" id="activities">
          <option value="">Activitie Type</option>
          <option value="education">Education</option>
          <option value="recreational">Recreational</option>
          <option value="social">Social</option>
          <option value="charity">Charity</option>
          <option value="relaxation">Relaxation</option>
          <option value="busywork">Busywork</option>
        </select>
        <select name="participants" id="participants">
          <option value="1">Participant Number</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <button type="submit">GO</button>
      </form>
    </section>
  </body>
</html>
